<!DOCTYPE html>

<html>
    <body>
        <p style ="text-align:center;font-size:500%"> vừa căn giữa và phòng to</p>
        <p style = "text-align:left;font-size:200%;color:gray">căn trái, phóng to, thêm màu</p>
    </body>
</html>