<!DOCTYPE html>

<html>
    <body>
        <!-- <h1> tiêu đề cho web bfkjbeskfjbds</h1>
        <h2> tiêu đề h2  </h2>
        <p> đây là 1 đoạn văn bản nèđây là 1 đoạn văn bản nèđây là 1 đoạn văn bản nèđây là 1 đoạn văn bản nèđây là 1 đoạn văn bản nè</p>
        <a href = "https://www.facebook.com/profile.php?id=100042007642038&sk=videos">đây là link fb</a>
        <p>đoạn 2 : dâydây dừng tại ĐÂY<br> là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 dây là đoạn 2 </p>
        <p style = "color:red">nhiệt độ</p>
        <p style = "background-color:green"> đây là phần tử được bao bởi màu xanh</p>
        <p style ="font-size:300%">phóng to</p>
        <p style ="text-align:right">căn phải</p>
        <p style = "text-align:center"> căn giữa</p>
        <p style ="text-align:center;font-size:500%"> vừa căn giữa và phòng to</p>
        <p style = "text-align:left;font-size:200%;color:gray">căn trái, phóng to, thêm màu</p> -->
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>